[Desktop Entry]
Version=1.0
Type=Application
Name=Firstrun
Comment=Install the Freelancer server
Exec=/home/ronald/firstrun.sh
Icon=applications-games
Path=
Terminal=true
StartupNotify=false